* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-menu {
    display: none;
}

.game-wrapper {
    display: none;
    cursor: pointer;
}

.win-dialog {
    display: none;
    text-align: center;
}

.active {
    display: block;
}

.field-row {
    display: flex;
    justify-content: center;
    align-items: center;

}

.field-box {
    display: block;
    width: 70px;
    height: 70px;
    font-family: sans-serif;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
    border: 1px solid black;
}

.empty {
    cursor: default;
}